<ion-view view-title="Gallery">
    <ion-content class="animate-fade-slide-in">
        <div class="list half">
            <div  class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Bugatti ?</h2>
                    <img class="full-image" src="images/imageCars/Bugati.jpg">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <i class="icon ion-heart"></i>
                        4
                    </a>
                    <a class="tab-item stable-bg positive-900">
                        <i class="icon ion-chatbubbles"></i>
                        2
                    </a>
                </div>
            </div>
            <div class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>lamborghini ?</h2>
                    <img class="full-image" src="images/imageCars/lamboghini.jpg">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <i class="icon ion-heart"></i>
                        6
                    </a>
                    <a class="tab-item stable-bg positive-900">
                        <i class="icon ion-chatbubbles"></i>
                        1
                    </a>
                </div>
            </div>
        </div>

        <div class="list half">
            <div class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Mustang ?</h2>
                    <img class="full-image" src="images/imageCars/motang.jpg">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <i class="icon ion-heart"></i>
                        22
                    </a>
                    <a class="tab-item stable-bg positive-900">
                        <i class="icon ion-chatbubbles"></i>
                        9
                    </a>
                </div>
            </div>
            <div class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2> Koenigsegg ?</h2>
                    <img class="full-image" src="images/imageCars/coengnessces.jpg">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <i class="icon ion-heart"></i>
                        8
                    </a>
                    <a class="tab-item stable-bg positive-900">
                        <i class="icon ion-chatbubbles"></i>
                        0
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
