<ion-view view-title="Friends">
    <ion-content>
        <div class="content has-header">
            <div class="list animate-fade-slide-in-right">
                <a class="item item-avatar item-icon-right">
                    <img src="images/imageListFriends/arya.jpg">
                    <h2>Jon Snow</h2>
                    <p>Da illest illegitimate</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a class="item item-avatar item-icon-right">
                    <img src="images/imageListFriends/crown.jpg">
                    <h2>Daenerys Targaryen</h2>
                    <p>Dragon mommy</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a class="item item-avatar item-icon-right">
                    <img src="images/imageListFriends/daenerys.jpg">
                    <h2>Arya Stark</h2>
                    <p>Is Chuck Norris' fear</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a class="item item-avatar item-icon-right">
                    <img src="images/imageListFriends/sansa.jpg">
                    <h2>Sansa Stark</h2>
                    <p>&amp; Joffrey <strike>sitting</strike> sat in a tree</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a class="item item-avatar item-icon-right">
                    <img src="images/imageListFriends/tyrion.jpg">
                    <h2>Tyrion Lannister</h2>
                    <p>B.A.M.F. imp</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a class="item item-avatar item-icon-right">
                    <img src="images/imageListFriends/tyrion.jpg">
                    <h2>Tyrion Lannister</h2>
                    <p>B.A.M.F. imp</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a class="item item-avatar item-icon-right">
                    <img src="images/imageListFriends/tyrion.jpg">
                    <h2>Tyrion Lannister</h2>
                    <p>B.A.M.F. imp</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a class="item item-avatar item-icon-right">
                    <img src="images/imageListFriends/tyrion.jpg">
                    <h2>Tyrion Lannister</h2>
                    <p>B.A.M.F. imp</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a class="item item-avatar item-icon-right">
                    <img src="images/imageListFriends/tyrion.jpg">
                    <h2>Tyrion Lannister</h2>
                    <p>B.A.M.F. imp</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a class="item item-avatar item-icon-right">
                    <img src="images/imageListFriends/tyrion.jpg">
                    <h2>Tyrion Lannister</h2>
                    <p>B.A.M.F. imp</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
