<ion-view view-title="ReTimeAnimation">
    <!--<ion-content class="animate-fade-slide-in">-->
    <!--<div class="list half">-->
    <!--<div class="card card-gallery item item-text-wrap">-->
    <!--<div class="ink dark-bg">-->
    <!--<h2>Bugatti ?</h2>-->
    <!--<img ng-class="showImageAnimation()" ng-show="showImage" class="full-image"-->
    <!--src="images/imageCars/Bugati.jpg">-->
    <!--</div>-->
    <!--<div class="item tabs tabs-secondary tabs-icon-left">-->
    <!--<div ng-class="showLikeLineAnimation()" ng-show="showLikeLine"-->
    <!--class="tab-item stable-bg assertive ">-->
    <!--<i class="icon ion-heart"></i>-->
    <!--like-->
    <!--</div>-->
    <!--<div ng-class="showUnLikeLineAnimation()" ng-show="showUnLikeLine"-->
    <!--class="tab-item stable-bg positive-900">-->
    <!--<i class="icon ion-chatbubbles"></i>-->
    <!--unlike-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</ion-content>-->
    <ion-content class="animate-fade-slide-in">

        <div ng-class="showContentAnimation()" ng-show="showContent">
        <div class="list half">
            <div class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Bugatti ?</h2>
                    <img class="full-image animated oneTime rotateIn"
                         src="images/imageCars/Bugati.jpg">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left ">
                    <div class="tab-item stable-bg assertive animated oneTime zoomIn">
                        <i class="icon ion-heart"></i>
                        like
                    </div>
                    <div class="tab-item stable-bg positive-900  animated oneTime zoomIn">
                        <i class="icon ion-chatbubbles"></i>
                        unlike
                    </div>
                </div>
            </div>
            <div class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Bugatti ?</h2>
                    <img class="full-image animated oneTime rotateIn"
                         src="images/imageCars/Bugati.jpg">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left ">
                    <div class="tab-item stable-bg assertive animated oneTime zoomIn">
                        <i class="icon ion-heart"></i>
                        like
                    </div>
                    <div class="tab-item stable-bg positive-900  animated oneTime zoomIn">
                        <i class="icon ion-chatbubbles"></i>
                        unlike
                    </div>
                </div>
            </div>

        </div>
        <div class="list half">
            <div class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Bugatti ?</h2>
                    <img class="full-image animated oneTime rotateIn"
                         src="images/imageCars/Bugati.jpg">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left ">
                    <div class="tab-item stable-bg assertive animated oneTime zoomIn">
                        <i class="icon ion-heart"></i>
                        like
                    </div>
                    <div class="tab-item stable-bg positive-900  animated oneTime zoomIn">
                        <i class="icon ion-chatbubbles"></i>
                        unlike
                    </div>
                </div>
            </div>
            <div class="card card-gallery item item-text-wrap">
                <div class="ink dark-bg">
                    <h2>Bugatti ?</h2>
                    <img class="full-image animated oneTime rotateIn "
                         src="images/imageCars/Bugati.jpg">
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left ">
                    <div class="tab-item stable-bg assertive animated oneTime zoomIn">
                        <i class="icon ion-heart"></i>
                        like
                    </div>
                    <div class="tab-item stable-bg positive-900  animated oneTime zoomIn">
                        <i class="icon ion-chatbubbles"></i>
                        unlike
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div ng-show="showChangeView" class="animate-fade-slide-in">
            <div class="list half">
                <div class="card card-gallery item item-text-wrap">
                    <div class="ink dark-bg">
                        <h2>Bugatti ?</h2>
                        <img class="full-image animated oneTime rotateIn"
                             src="images/imageCars/lexus.jpg">
                    </div>
                    <div class="item tabs tabs-secondary tabs-icon-left ">
                        <div class="tab-item stable-bg assertive animated oneTime zoomIn">
                            <i class="icon ion-heart"></i>
                            like
                        </div>
                        <div class="tab-item stable-bg positive-900  animated oneTime zoomIn">
                            <i class="icon ion-chatbubbles"></i>
                            unlike
                        </div>
                    </div>
                </div>
                <div class="card card-gallery item item-text-wrap">
                    <div class="ink dark-bg">
                        <h2>Bugatti ?</h2>
                        <img class="full-image animated oneTime rotateIn"
                             src="images/imageCars/lexus.jpg">
                    </div>
                    <div class="item tabs tabs-secondary tabs-icon-left ">
                        <div class="tab-item stable-bg assertive animated oneTime zoomIn">
                            <i class="icon ion-heart"></i>
                            like
                        </div>
                        <div class="tab-item stable-bg positive-900  animated oneTime zoomIn">
                            <i class="icon ion-chatbubbles"></i>
                            unlike
                        </div>
                    </div>
                </div>

            </div>
            <div class="list half">
                <div class="card card-gallery item item-text-wrap">
                    <div class="ink dark-bg">
                        <h2>Bugatti ?</h2>
                        <img class="full-image animated oneTime rotateIn"
                             src="images/imageCars/lexus.jpg">
                    </div>
                    <div class="item tabs tabs-secondary tabs-icon-left ">
                        <div class="tab-item stable-bg assertive animated oneTime zoomIn">
                            <i class="icon ion-heart"></i>
                            like
                        </div>
                        <div class="tab-item stable-bg positive-900  animated oneTime zoomIn">
                            <i class="icon ion-chatbubbles"></i>
                            unlike
                        </div>
                    </div>
                </div>
                <div class="card card-gallery item item-text-wrap">
                    <div class="ink dark-bg">
                        <h2>Bugatti ?</h2>
                        <img class="full-image animated oneTime rotateIn "
                             src="images/imageCars/lexus.jpg">
                    </div>
                    <div class="item tabs tabs-secondary tabs-icon-left ">
                        <div class="tab-item stable-bg assertive animated oneTime zoomIn">
                            <i class="icon ion-heart"></i>
                            like
                        </div>
                        <div class="tab-item stable-bg positive-900  animated oneTime zoomIn">
                            <i class="icon ion-chatbubbles"></i>
                            unlike
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <button ng-click="changeView()">Submit</button>
    </ion-content>
    </ion-view>

